*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #656565;
}
.header-main-div{
    width: 100%;
    height: auto;
    background: black;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #020202 0%, #000000 0%, #020202 100%);
}
.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #020202 0%, #000000 0%, #020202 100%);
}
.nav-item a{
    color: #ffffff!important;
    font-weight: bold;
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.header-buttons a{
    border: 1px solid #ffffff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.header-buttons a:hover{
    color: #ffbd39;
    background: #ffffff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}
.center-div span{
    color: #ffbd39;
    font-size: 4rem;
}

/********************* about div css start **********************/
.about-main-div{
    width: 100%;
    height: auto;
    background: black;
    padding: 80px 10px 0 0;
}
.about-txt-div {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.about-txt {
    font-size: 6rem;
    font-weight: bolder !important;
    color: #1a1a1a;
    text-align: center;
}
.about-me-txt {
    font-size: 3rem;
    font-weight: bolder !important;
    color: white;
    margin-left: -250px;
}
.title-heading {
    font-weight: bold !important;
    color: white;
}
.about-main-div a {
    border: 1px solid #ffbd39;
    border-radius: 100px;
    margin: 20px 0;
    padding: 12px 35px;
    background: #ffbd39;
    outline: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
}
.about-main-div a:hover{
    color: #ffbd39;
    background: black;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.about-img {
    width: 50vh;
    height: 50vh;
    background-image: url('../images/about-me.jpg');
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
}
/********************* abour div css end **********************/

/********************* resume css start **********************/
.resume-main-div{
    width: 100%;
    height: auto;
    background: black;
    padding: 80px 15px 30px 0;
}
.resume-txt-div {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.resume-txt {
    font-size: 6rem;
    font-weight: bolder !important;
    color: #1a1a1a;
    text-align: center;
}
.resume-me-txt {
    font-size: 3rem;
    font-weight: bolder !important;
    color: white;
    margin-left: -350px;
}
.resume-container{
    background: #1a1a1a;
    border: medium none;
    padding: 15px 30px !important;
    border-radius: 3px;
    transition: 0.3s;
    margin: 10px !important;
}
.resume-container h6 {
    color: white;
}
.year {
    color: #ffbd39 !important;
    font-weight: bold !important;
}
.resume-container p {
    color: #6a6a6a !important;
}
.organization {
    margin-bottom: 0px;
}
.resume-container:hover{
    background: #ffbd39;
    transform: translateY(-20px);
}
.resume-container:hover .year {
    color: white !important;
    font-weight: bold !important;
}
.resume-container:hover h6 {
    color: black !important;
}
.resume-container:hover p {
    color: black !important;
}
/********************* resume css end **********************/

/********************* service div css end **********************/
.service-main-div{
    width: 100%;
    height: auto;
    background: black;
    padding: 50px 10px 50px 10px;
}
.service-txt-div {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.service-txt {
    font-size: 6rem;
    font-weight: bolder !important;
    color: #1a1a1a;
    text-align: center;
}
.service-me-txt {
    font-size: 3rem;
    font-weight: bolder !important;
    color: white;
    margin-left: -280px;
}
.heading{
    color: #ffbd39;
    font-weight: bolder !important;
    margin-top: 10px;
}
.list-skills h6{
    padding: 5px;
    border: 1px solid #ffbd39;
    border-radius: 3px;
    margin: 5px;
    color: white;
}
.offers {
    margin-top: 20px;
}
.image {
    color: #ffbd39;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offers h6{
    color: #ffbd39;
    font-weight: bold !important;
}
.offers p{
    color: white;
}
/********************* service div css end **********************/

/********************* contact div css start **********************/
.contact-main-div{
    width: 100%;
    height: auto;
    background: black;
    padding: 50px 10px 180px 10px;
}
.contact-txt-div {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.contact-txt {
    font-size: 6rem;
    font-weight: bolder !important;
    color: #1a1a1a;
    text-align: center;
}
.contact-me-txt {
    font-size: 3rem;
    font-weight: bolder !important;
    color: white;
    margin-left: -320px;
}
.contact-desc {
    color: white;
    font-size: 2rem;
    margin-bottom: 50px;
}
.contact-options {
    color: #ffbd39;
}
.contact-options:hover {
    color: #ffbd39;
}
.top-icon {
    float: right;
    margin-top: 50px;
    border-color: #ffbd39;
}
.top-icon:hover .contact-options {
    color: white;
}
/********************* contact div css end **********************/